@inherits LayoutComponentBase

<MudThemeProvider Theme="@Theme.theme" IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1" Dense=true>
        <MudIcon Icon="@(Icons.Material.Filled.DirectionsCar)" Color="Color.Inherit" Size="Size.Large" />
        <MudText Typo="Typo.h5" Class="ml-3" >Vehicle Information Checker - Webhook Test</MudText>
        <MudSpacer />
        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" Edge="Edge.End" />
    </MudAppBar>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
