@page "/"  
@using VehicleInformationChecker.Components.UI.RegistrationInput
@using VehicleInformationChecker.Components.UI.SearchDetails

<PageTitle>V.I.C</PageTitle>

<RegistrationInput Vehicle="@_vehicle"></RegistrationInput>

<SearchDetails Vehicle="@_vehicle"></SearchDetails>

<footer class="mt-6" style="text-align:center; padding: 1rem 0;">
    <MudText Color="Color.Primary" Typo="Typo.body2">
        <a href="https://forms.gle/LacFPfTuAA3ZD5ae6" target="_blank" rel="noopener noreferrer">Report an Issue</a>
        &nbsp;|&nbsp;
        <a href="https://github.com/dillsa1299/VehicleInformationChecker" target="_blank" rel="noopener noreferrer">GitHub Repository</a>
    </MudText>
</footer>