.responsive-title {
    font-size: clamp(1rem, 5vw, 2rem);
}

.responsive-registration input[type="text"] {
    font-size: clamp(3.5rem, 10vw, 4rem);
}

.text-upper input {
    text-transform: uppercase;
}

.ai-html li {
    margin-left: 1.5rem;
}